In [194]:
import pandas as pd
import numpy as np

In [195]:
data = pd.read_excel('OOO-VD.xlsx')

In [196]:
proc = pd.read_excel('OOO-proceeds.xlsx')

In [197]:
np.min(data['Толока'])

10.45435325773592

In [198]:
data.head().T

,0,1,2,3,4
id точки,8955,11007,11366,11810,15041
Адрес,"Оренбургская обл, Оренбург г, Шарлыкское ш, д...","Алтайский край, г. Барнаул, ул. Малахова, дом ...","Амурская область, Благовещенск, улица Мухина, 114","Архангельская обл, г. Архангельск , Троицкий п...","Архангельская обл, г. Архангельск, Троицкий пр..."
Широта,55.1183,83.6968,127.51,40.5282,40.5263
Долгота,51.8431,53.357,50.2804,64.5323,64.5343
Дата открытия,2016-11-09 00:00:00,2010-04-26 00:00:00,2017-08-25 00:00:00,2012-11-03 00:00:00,2006-12-09 00:00:00
Дата закрытия,NaT,NaT,NaT,NaT,NaT
Площадь магазина,478,332,356,317,176
Тип входа,без сквозного прохода,сквозной проход,без сквозного прохода,отдельный вход с улицы + сквозной проход,сквозной проход
Площадь ТЦ,130000,31500,36000,35000,15332
Формат магазина,ТЦ,ТЦ,ТЦ,ТЦ,ТЦ
Парковка,бесплатная парковка,бесплатная парковка,бесплатная парковка,бесплатная парковка,бесплатная парковка
Этаж,3,1,1,1,цоколь
Время работы,с 10:00 до 22:00,с 10:00 до 22:00,с 10:00 до 22:00,с 10:00 до 21:00,с 10:00 до 21:00
Заполненность ТЦ,NaN,NaN,3,3,3
Рядом с эскалатором,0,0,0,0,1
Рядом со входом,0,1,1,1,0
Конкуренты в ТЦ,1,NaN,1,0,NaN
Расположение в ТЦ,7,9,6,10,0
Толока,37.8576,57.8105,49.9598,128.459,103.2
Люкс,69.5,66.8966,68.7273,64.5172,78.2759
Выборка,Обучающая,Обучающая,Обучающая,Обучающая,Тестовая

Сколько магазинов формата стрит в тестовой выборке?

In [199]:
mark_type = data['Формат магазина']

In [200]:
set(mark_type)

{'Street', 'Strееt', 'Мини ТЦ', 'Мини-ТЦ', 'Стрит', 'Стрт', 'ТЦ'}

In [201]:
mark_type[mark_type == 'Стрит']

72     Стрит
74     Стрит
98     Стрит
155    Стрит
Name: Формат магазина, dtype: object

In [202]:
mark_type[mark_type == 'Стрт']

228    Стрт
Name: Формат магазина, dtype: object

In [203]:
mark_type[mark_type == 'Street']

16     Street
32     Street
59     Street
69     Street
70     Street
80     Street
84     Street
87     Street
97     Street
119    Street
159    Street
164    Street
166    Street
207    Street
221    Street
224    Street
226    Street
239    Street
Name: Формат магазина, dtype: object

In [204]:
mark_type[mark_type == 'Strееt']

130    Strееt
Name: Формат магазина, dtype: object

Какова средняя выручка магазинов формата мини ТЦ за 2016 год?

Сколько магазинов с бесплатной парковкой?

In [205]:
'Strееt' == 'Strееt'

True

In [206]:
parking = data['Парковка']

In [207]:
set(parking)

{100,
 1000,
 700,
 nan,
 'бесплатная паpковка',
 'бесплатная парковка',
 'нет парковки',
 'платная парковка'}

In [208]:
parking[parking == 'бесплатная паpковка']

240    бесплатная паpковка
Name: Парковка, dtype: object

In [209]:
parking[parking == 'бесплатная парковка']

0      бесплатная парковка
1      бесплатная парковка
2      бесплатная парковка
3      бесплатная парковка
4      бесплатная парковка
              ...
238    бесплатная парковка
241    бесплатная парковка
242    бесплатная парковка
243    бесплатная парковка
245    бесплатная парковка
Name: Парковка, Length: 156, dtype: object

In [210]:
proc

,id точки,2015-01-01,2015-02-01,2015-03-01,2015-04-01,2015-05-01,2015-06-01,2015-07-01,2015-08-01,2015-09-01,...,2018-01-01,2018-02-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01
0,11366.0,245709.342667,301024.685000,406199.782258,295602.853000,268179.172258,266579.009667,202667.039355,207347.022581,237393.216667,...,271084.023513,298845.267500,277776.347333,270902.919677,280106.099000,243448.836129,236709.816452,248268.778333,296637.103226,314456.870000
1,11810.0,270245.842066,297964.820199,406198.175918,232433.263996,229317.708387,251403.308057,242000.555806,260407.109247,267051.162996,...,245402.383180,273515.012143,240088.292000,196260.466452,228920.589000,204058.825161,207104.013135,203499.409840,206013.017419,218636.436000
2,15041.0,171972.976000,198141.440000,260215.741935,205316.010644,187059.870968,198590.970667,178250.637781,187094.699355,211000.005517,...,174154.623627,173190.240000,240396.837333,241494.616774,264873.765333,227461.233548,249503.230968,251805.680000,263152.960000,269913.018667
3,15775.0,409032.989736,468816.460949,582717.510920,442807.529886,371689.316054,428430.990000,365894.971255,384266.496739,385515.509997,...,431909.251500,493571.089286,408575.490000,387081.406452,418398.840000,362395.248387,393423.329032,387866.910000,421387.374194,481330.143000
4,16102.0,437693.191667,510077.198214,602107.617742,465779.798333,423448.914516,414476.575000,370944.770968,392089.754839,416797.330000,...,378429.858867,453511.489286,388849.670000,369223.219355,392389.013333,328593.246774,350885.291935,369367.358333,427575.006452,472508.001667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,2634000.0,341009.722000,413489.085501,518426.278387,376071.505667,357895.794516,505318.240505,458096.520286,516279.226774,486665.455265,...,513382.351353,590733.692857,480563.392000,457005.916452,541734.577000,444286.811935,574573.538710,538086.317000,530747.271290,565599.127667
151,2634008.0,270923.715000,404737.144643,470433.872222,401063.781000,318507.450000,385579.165000,375166.269677,382299.377093,413219.906524,...,162847.124247,202552.822857,185037.349333,167999.870323,186120.868667,175067.582903,174118.710968,174518.631333,189597.414516,226016.234333
152,2634011.0,378429.753517,350607.477988,482925.193552,367225.245935,349294.028363,388179.193333,400668.150126,421847.743068,345782.485333,...,461032.727239,443111.015436,410602.549333,379963.923226,457012.976000,431740.369032,491072.692000,461658.858000,421671.512258,489829.227333
153,2633936.0,NaN,NaN,NaN,NaN,420226.940000,311592.339222,255945.113890,234998.024826,234465.065333,...,360466.441020,372836.555000,299080.189333,286674.025806,327415.778667,305542.250323,345389.650968,349845.855333,361092.704994,363068.734000
154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,502913.053140,594450.393471,560283.324000,514546.421768,644308.088000,533981.383006,562082.839742,575194.942000,724658.394194,726229.020000

In [211]:
data.head().T

,0,1,2,3,4
id точки,8955,11007,11366,11810,15041
Адрес,"Оренбургская обл, Оренбург г, Шарлыкское ш, д...","Алтайский край, г. Барнаул, ул. Малахова, дом ...","Амурская область, Благовещенск, улица Мухина, 114","Архангельская обл, г. Архангельск , Троицкий п...","Архангельская обл, г. Архангельск, Троицкий пр..."
Широта,55.1183,83.6968,127.51,40.5282,40.5263
Долгота,51.8431,53.357,50.2804,64.5323,64.5343
Дата открытия,2016-11-09 00:00:00,2010-04-26 00:00:00,2017-08-25 00:00:00,2012-11-03 00:00:00,2006-12-09 00:00:00
Дата закрытия,NaT,NaT,NaT,NaT,NaT
Площадь магазина,478,332,356,317,176
Тип входа,без сквозного прохода,сквозной проход,без сквозного прохода,отдельный вход с улицы + сквозной проход,сквозной проход
Площадь ТЦ,130000,31500,36000,35000,15332
Формат магазина,ТЦ,ТЦ,ТЦ,ТЦ,ТЦ
Парковка,бесплатная парковка,бесплатная парковка,бесплатная парковка,бесплатная парковка,бесплатная парковка
Этаж,3,1,1,1,цоколь
Время работы,с 10:00 до 22:00,с 10:00 до 22:00,с 10:00 до 22:00,с 10:00 до 21:00,с 10:00 до 21:00
Заполненность ТЦ,NaN,NaN,3,3,3
Рядом с эскалатором,0,0,0,0,1
Рядом со входом,0,1,1,1,0
Конкуренты в ТЦ,1,NaN,1,0,NaN
Расположение в ТЦ,7,9,6,10,0
Толока,37.8576,57.8105,49.9598,128.459,103.2
Люкс,69.5,66.8966,68.7273,64.5172,78.2759
Выборка,Обучающая,Обучающая,Обучающая,Обучающая,Тестовая

In [212]:
index_mall = np.hstack([mark_type[mark_type == 'Мини ТЦ'].index, mark_type[mark_type == 'Мини-ТЦ'].index])

In [213]:
index_mall.sort()

In [214]:
index_mall

array([ 18,  24,  30,  47,  66,  73,  82,  94,  99, 105, 112, 117, 118,
       131, 133, 136, 145, 152, 163, 165, 174, 181, 184, 186, 195, 204,
       211, 227, 229, 238, 242])

In [215]:
index_mall.shape

(31,)

In [216]:
data_mall = data.iloc[index_mall]

In [217]:
data_mall.dropna(subset=['id точки'], inplace=True)

<ipython-input-217-c68f11257105>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_mall.dropna(subset=['id точки'], inplace=True)

In [313]:
procees = proc.loc[proc['id точки'].isin(data_mall['id точки'])]

In [323]:
procees.columns

Index(['id точки', '2015-01-01', '2015-02-01', '2015-03-01', '2015-04-01',
       '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01',
       '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01', '2016-02-01',
       '2016-03-01', '2016-04-01', '2016-05-01', '2016-06-01', '2016-07-01',
       '2016-08-01', '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
       '2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01',
       '2017-06-01', '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01',
       '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01', '2018-04-01',
       '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01', '2018-09-01',
       '2018-10-01', '2018-11-01'],
      dtype='object')

In [322]:
months = np.array(['2016-01-01', '2016-02-01',
       '2016-03-01', '2016-04-01', '2016-05-01', '2016-06-01', '2016-07-01',
       '2016-08-01', '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'])

In [333]:
count_prc = procees[months]

In [336]:
count_prc.dropna(inplace=True)

<ipython-input-336-77a92da9e0fe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  count_prc.dropna(inplace=True)

In [337]:
count_prc

,2016-01-01,2016-02-01,2016-03-01,2016-04-01,2016-05-01,2016-06-01,2016-07-01,2016-08-01,2016-09-01,2016-10-01,2016-11-01,2016-12-01
11,367035,518192,612575,462815,477768,451050.096000,401384.010323,383641.476129,422102.426667,422386.720000,405809,856555
14,288252,380477,409750,335297,341503,310039.590000,273176.738710,293777.854839,343191.180000,338595.300000,311295,588299
23,96125.5,131703,166441,103034,109411,107573.640000,98078.632258,115117.374194,104382.240000,132300.493548,102603,228666
42,618664,778686,948357,610125,648605,628196.226000,541807.499032,548504.053548,589191.498000,637511.713548,627180,1.42202e+06
56,157156,219536,263464,180751,174378,200850.477333,172807.401290,181212.264516,182401.356000,210517.014194,161834,288096
61,165362,183197,234129,181152,166159,173533.509333,162844.341333,169838.714839,173049.632000,200700.714667,179830,296884
66,262235,341500,413341,278217,253407,291884.933333,245933.264516,220819.148387,268867.520000,274188.619355,257092,560731
79,79599.7,99675.2,129199,83833,90507.8,143539.242667,204567.081290,239827.447742,194232.533333,130127.483871,89367,179 944.79
80,545935,646203,769326,567838,554051,655431.680000,596274.787097,670410.405161,650349.909333,694186.157419,614323,1.15111e+06
83,252934,315365,396360,268141,244010,254807.249667,268337.013226,266149.490645,292829.203333,298976.948065,263109,478169
84,432085,561410,669310,487761,485661,456049.373670,392559.430645,430120.350000,469779.123000,492347.534516,488088,966823
87,221053,236999,294686,186389,188043,227255.242667,228655.803871,246902.518710,184107.914667,239920.185806,220087,433697
92,247509,341838,403892,268721,263977,274547.460000,272024.925806,258007.483871,274683.676667,312697.887097,289972,558148
97,288340,373763,424794,247102,268195,288479.900000,269497.774194,282031.645161,268095.833333,283937.000000,281229,537106
99,208697,268137,331250,218518,207278,222148.099667,232665.450968,236915.669677,211914.458667,254999.308667,230982,420625
106,256810,299841,424252,269643,262585,274678.625000,252030.887097,319404.879032,344379.250000,402658.104839,377205,776856
121,112846,122103,169540,94366.6,100354,106509.617333,106632.150968,108016.763226,103707.372333,121351.532581,112169,293145

In [347]:
count_prc.mean(), np.mean(count_prc.mean())

(2016-01-01    270625.846326
 2016-02-01    342272.048071
 2016-03-01    415333.236366
 2016-04-01    284923.785894
 2016-05-01    284464.196869
 2016-06-01    298033.821334
 2016-07-01    277604.540743
 2016-08-01    292393.972922
 2016-09-01    298662.654549
 2016-10-01    320435.454010
 2016-11-01    294833.768770
 dtype: float64,
 307234.8478048167)

In [51]:
set(data['Тип входа'])

{nan,
 'без сквозного прохода',
 'единственный вход в ТК',
 'отдельный вход с улицы',
 'отдельный вход с улицы + сквозной проход',
 'сквозной проход'}

In [56]:
set(data['Выборка'])

{'-', nan, 'Обyчающая', 'Обучающая', 'Тест', 'Тестовая'}

In [58]:
set(data['Этаж'])

{1, 2, 20, datetime.datetime(2019, 5, 2, 0, 0), 3, 4.5, nan, 'цоколь'}

In [55]:
set(data['Время работы'])

{'c 10-00 до 21-00',
 'c 10:00 до 24:00',
 'c 9:00 до 21:00',
 nan,
 'Вс-Чт c 10:00 до 21:00           Пт-Сб с 10:00 до 22:00',
 'Вс-Чт c 10:00 до 21:00    Пт-Сб с 10:00 до 22:00',
 'Вс-Чт c 10:00 до 22:00           Пт-Сб с 10:00 до 23:00',
 'Вс-Чт c 10:00 до 23:00           Пт-Сб с 10:00 до 24:00',
 'Вс-Чт с 10:00 до 21:00     Пт-Сб с  10:00 до 22:00',
 'Вс-Чт с 10:00 до 22:00    Пт-Сб с 10:00 до 23:00',
 'Вс-Чт с 10:00 до 22:00 Пт-Сб с 10:00 до 23:00',
 'Вс-Чт с 10:00 до 23:00 Пт-Сб с 10:00 до 24:00',
 'Пн-Пт с 9:00 до 20:00    Сб с 10:00 до 19:00         Вс с 10:00 до 18:00',
 'Пн-Сб c 10:00 до 20:00 Вс с 10:00 до 19:00 ',
 'Пн-Сб с 10:00 до 20:00 Вс с 10:00 до 19:00',
 'Пн-Сб с 10:00 до 21:00  Вс с 11:00 до 21:00',
 'Пн-Сб с 10:00 до 21:00 Вс с 10:00 до 20:00',
 'с 10-00 до 22:00',
 'с 10:00 до 20:00',
 'с 10:00 до 21:00',
 'с 10:00 до 22:00',
 'с 10:00 до 22:00 ',
 'с 10:00 до 23:00',
 'с 11:00 до 21:00',
 'с 9:00 до 21:00',
 'с 9:00 до 23:00'}